body {
    margin: 0px;
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1F2937;
    padding: 0 200px;
}

.header-logo {
    font-weight: 800;
    flex-shrink: 0;
}

ul {
    display:flex;
    list-style: none;
    gap: 24px;
    flex-shrink: 0;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 24px;
    color: #f9faf8;
    font-size: 18px;
}

a:link, a:visited {
    text-decoration: none;
    color: #f9faf8;
}

img {
    width: 600px;
    height: 200px;
    flex-shrink: 0;
}

.main {
    display: flex;
    gap: 24px;
    background-color: #1F2937;
    padding: 100px 200px;
    justify-content: space-between;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    padding-right: 12px;
}

button {
    background-color: #3882F6;
    color:#f9faf8;
    font-size: 18px;
}